@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* Koyu arka plan ve açık renk yazı */
  background-color: #111827; 
  color: #ffffff;
}